<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout/layoutPadrao}"
	  xmlns:th="http://www.thymeleaf.org">

<body>

	<div class="container" layout:fragment="conteudo">

		<div class="row mt-4 mb-3">

			<div class="col-12 ">
				<h1>Equipes</h1>
			</div>

		</div>

		<div class="row mb-3" th:if="${equipes.size() == 0}">

			<div class="col">
				<a href="javascript:void(0);" class="btn btn-primary col-12">Cadastrar Equipes</a>
			</div>

		</div>

		<div class="row">

			<div class="col-6 col-sm-3 p-2 mb-1 border bg-light text-center" th:each="equipe : ${equipes}" th:text="${equipe.nome}">
				Equipe 1
			</div>

		</div>
		<!-- .row -->

		<script type="text/javascript">

			$('.btn').on("click", function () {
			// 	if (confirm("Tem certeza que deseja cadastrar as equipes?")) {
					window.location.href = "/equipes/gerar";
			// 	}
			})

		</script>

	</div>
	<!-- .container -->

</body>
</html>