<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layoutPadrao}"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container" layout:fragment="conteudo">

    <div class="row mt-4 mb-3">

        <div class="col-12 ">
            <h1>Equipes vencedoras</h1>
        </div>

    </div>

    <div class="row">
        <div class="container">
            <div class="row">
                <th:block th:each="equipeDto, status : ${equipes}">
                    <div class="w-100 bg-secondary text-white p-2 mt-4" th:if="${status.count} % 2 == 1">
                        Grupo <span th:text="${equipeDto.getGrupo()}">0</span>
                    </div>
                    <div class="col border p-2 bg-light text-center" th:text="${equipeDto.getEquipe() != null ? equipeDto.getEquipe().getNome():''}">

                    </div>
                </th:block>
            </div>
        </div>

    </div>
    <!-- .row -->

</div>
<!-- .container -->

</body>
</html>