<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout/layoutPadrao}"
	  xmlns:th="http://www.thymeleaf.org">

<body>

	<div class="container" layout:fragment="conteudo">

		<div class="row mt-4 mb-3">

			<div class="col-12 ">
				<h1>Grupos</h1>
				<h5>Total de equipes: <span th:text="${totalEquipes}">0</span></h5>
			</div>

		</div>

		<div class="row">
			<div class="container">
				<div class="row">
					<th:block th:each="equipe, status : ${equipes}">
						<div class="w-100 bg-secondary text-white p-2 mt-4" th:if="${status.count} % 5 == 1">
							Grupo <span th:text="${equipe.getGrupo()}">0</span>
						</div>
						<div class="col border p-2 bg-light">
							<span th:text="${status.index} % 5 + 1" class="border pl-2 pr-2 pt-1 pb-1 mr-3">1</span>
							<span th:text="${equipe.getNome()}">Equipe</span>
						</div>
					</th:block>
				</div>
			</div>

		</div>
		<!-- .row -->

	</div>
	<!-- .container -->

</body>
</html>