<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout/layoutPadrao}"
	  xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container" layout:fragment="conteudo">

	<div class="row mt-4 mb-3">

		<div class="col-12 ">
			<h1>Partidas</h1>
		</div>

	</div>

	<div class="row mb-3">
			
		<div class="col" th:if="${partidas.size() == 0}">
			<a href="javascript:void(0);" class="btn btn-primary col-12 btn-partidas">Gerar tabelas de partidas</a>
		</div>

		<div class="col">
			<a href="javascript:void(0);" class="btn btn-secondary col-12 btn-resultados">Gerar resultados das partidas</a>
		</div>

	</div>

	<div class="row">
		<div class="container">
			<div class="row">
				<th:block th:each="partida, status : ${partidas}">
					<div class="w-100 bg-secondary text-white p-2 mt-4" th:if="${status.count} % 10 == 1">
						Grupo <span th:text="${partida.getGrupo()}">0</span>
					</div>
					<div class="col border p-2 bg-light text-center">
						<div th:classappend="${partida.getEquipeVencedora() != null && partida.getEquipeVencedora().getId() == partida.getPrimeiraEquipe().getId()} ? 'text-success' : ''" th:text="${partida.getPrimeiraEquipe().getNome()}">Primeira Equipe</div>
						<div>X</div>
						<div th:classappend="${partida.getEquipeVencedora() != null && partida.getEquipeVencedora().getId() == partida.getSegundaEquipe().getId()} ? 'text-success' : ''" th:text="${partida.getSegundaEquipe().getNome()}">Segunda Equipe</div>
					</div>
				</th:block>
			</div>
		</div>

	</div>
	<!-- .row -->

	<script type="text/javascript">

		$('.btn-partidas').on("click", function () {
		// 	if (confirm("Tem certeza que deseja gerar partidas?")) {
				window.location.href = "/partidas/gerar";
		// 	}
		});

		$('.btn-resultados').on("click", function () {
		// 	if (confirm("Tem certeza que deseja gerar resultados?")) {
				window.location.href = "/partidas/resultados";
		// 	}
		});

	</script>

</div>
<!-- .container -->

</body>
</html>